################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Debug
/x64
/.vs/SerialCommunicator/v15
/SerialCommunicator/Debug/NMEATesting.tlog
/SerialCommunicator/Debug
/SerialCommunicator/x64/Debug
